.git
.github
.gitignore
.env*

node_modules
dist
coverage
.cache
.vite

android
ios

*.log
build*.txt
*.pdf
*.apk
*.aab
*.ipa

*.keystore
*.jks
*.p12
*.pfx
*.pem
*.key
*.crt
*.cer

.DS_Store
.idea
.vscode
